node_modules
.env

# Hardhat files
/cache
/artifacts
/ignition/deployments/chain-31337
/ignition/deployments/*/build-info

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Bulk transfer addresses file (contains private addresses)
/scripts/addresses.json
